.contentDiv {
    box-sizing: border-box;
    display: block;
    width: 80%;
    background-color: #444;
    margin: 20px auto;
    padding: 30px 50px 100px;
    border-radius: 10px;
    color: white;
    background-image: url("/assets/images/keyboard.jpg");
    background-size: 100% 100%;
}

.contentDiv .heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0 80px;
    color: #e6e6e6;
}

.contentDiv ul {
    margin-bottom: 100px;
}

.contentDiv li {
    list-style-type: none;
    font-size: 30px;
    font-weight: 500;
    line-height: 2.5;
}

.contentDiv a {
    text-decoration: none;
    color: white;
}

.contentDiv a:hover {
    color: #17a2b8;
}

.contentDiv hr {
    border: 0;
    border-top: 1px solid #808080;
}

.contentDiv .note {
    margin: 0 40px;
    font-size: 20px;
}
